/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Mohave:wght@300&family=Montserrat:wght@300;500&family=Outfit:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: Architects Daughter;
}
/* Header */
.container-header {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}
/* Navigation */
.container-menu {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: flex-end;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  margin-right: 10px;
}

.item-menu i {
  font-size: xx-large;
  color: rgb(121, 121, 121);
  transition-property: transform, color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5;
}
.item-menu i:hover {
  color: rgb(118, 255, 191);
  transform: translateY(-10px);
}
.login-btn {
  text-decoration: none;
  background-color: green;
  position: absolute;
  left: 5px;
  font-size: large;
}
/* background style */

.container-big-image {
  background-image: url(/img/plant.jpeg);
  background-position: fixed;
  background-position: 50%;
  background-size: cover;
  width: 100vw;
  height: 750px;
}
.title {
  font-size: 60px;
  color: rgb(128, 128, 128);
  position: absolute;
  right: 40px;
  top: 150px;
}
/* Cards */
.container-card {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: gray;
  gap: 20px;
  padding-top: 50px;
  position: relative;
}
.cards {
  width: 330px;
  height: 400px;
  background: lightcyan;
  border: 1px solid rgba(2, 2, 2, 0.776);
  z-index: 1;
}
.card:hover {
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
}
.img-card {
  width: 100%;
  height: 280px;
}
/* icons */
.heart {
  font-size: 1.2rem;
  color: red;
  background: rgba(128, 128, 128, 0.611);
  padding: 7px;
  border-radius: 50px;
  transition: 0.3s linear;
}
.heart:hover {
  width: 80px;
}
.container-star {
  z-index: 2;
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
}
.star {
  color: gold;
}
@media screen and (max-width: 870px) {
  .menu {
    width: 70vw;
  }
}
